body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{

    color:rgb(16, 92, 163);
}
section{
    display: flex;
    margin-bottom: 150px;
    margin-right: 10%;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    text-align: justify;
   
    
}
.half-width p{
    color: dimgray;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 8px 30px;
    border-radius: 5%;
    background-image: linear-gradient(rgb(14, 101, 141), rgb(24, 130, 218));
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-bann.png);
}
.blue-color{
    
    color:rgb(16, 92, 163);

}

